


*{
    font-family: 'Quicksand', sans-serif;

}

.row1 {
    display: flex;
    margin: top 10px;
}

.row2 {
    display: flex;
    
}

img {
    border: 2px solid;
    height: 200px;
    margin: 8px;
}
 

button{
    background-color: rgb(0, 158, 15);
    color: white;
    width: 90px;
    height: 25px;
    
} 